/* Copyright by Brett Fraley 2016 */

html {
  font-size:100%;
  height:100%;
  margin:0;
  padding:0; 
}
body {
  width:100%;
  height:100%;
  margin:0;
  padding:0;
}

/* The divjot UI container. */
#divjot-wrapper {
  min-width:440px;
  max-width:98%;
  max-height:98%;
  position:fixed;
  left:15px;
  bottom:15px;
  padding:3px;
  z-index:1;
  overflow:auto;
  opacity:0.9;
  white-space:nowrap;
  text-align:center;
  font-family:monospace;
  font-size:1em;
  background-color:#fff;
  color:#222;
  border:solid 1px #ddd;
  border-radius:7px;
  /* box-shadow:0px 0px 5px 2px #333; */
}
/* Each of the editor textareas. */
.divjot-editors {
  min-width:250px;
  min-height:250px;
  max-height:75%;
  max-width:520px;
  padding:3px;
  display:inline-block;
  overflow:auto;
  opacity:0.8;  
  border-radius:7px;
  border:solid 1px #ddd;
  font-size:10pt;  
}

#divjot-html {  

}

#divjot-css {  
  background-color:#EEE;  
  max-width:520px;  
}

#divjot-js {  
  background-color:#555;  
  color:#FFF;
}

/* A section element, parent to all editor textareas. */
.editor-section {
  margin:5px auto;
  width:98%;    
  overflow:auto;
  padding:7px;
}

/* UI controls. */

.divjot-controls {
  text-align:center; /* All that's needed for now until it holds more elements. */
}

#opacity-control {
  width:100px;
  background-color:#DDD;
  color:#000;  
  padding:3px;
  border-radius:3px;
  height:7px;
  border:solid 1px #ddd;
}

.control-buttons {
    padding:3px;
    border:solid 1px;
    opacity:0.8;
    border-radius:3px;
    border:solid 1px #ddd;
    margin-bottom:5px;
}

.control-buttons:hover {
    opacity:1;
    background-color:#EEE;
}

#dark-button {
    background-color:#333;
    color:#FFF;
}

#light-button {
    background-color:#FFF;
    color:#000;
    display:none;
}

#menu-button {
   margin-right:25px;
}

