/* TODO: doc comments / license / links etc */

html {
  font-size:100%;
  height:100%
  margin:0;
  padding:0; 
}
body {
  width:100%;
  height:100%;
  margin:0;
  padding:0;
}

#napkin-wrapper {
  min-width:540px;
  max-width:98%;
  max-height:98%;
  position:fixed;
  left:15px;
  bottom:15px;
  padding:3px;
  z-index:1;
  overflow:auto;
  opacity:0.4;
  white-space:nowrap;
  text-align:left;
  font-family:monospace;
  font-size:1em;
  background-color:#fff;
  color:#222; 
  box-shadow:0px 0px 5px 2px #333;
}

.napkin-editors {
  min-width:250px;
  min-height:250px;
  max-height:90%;
  margin-right:10px;
  padding:3px;
  display:inline-block;
  overflow:auto;
  opacity:0.6;  
}

#napkin-html {  
  border:solid 1px #008000; /* is green */
  max-width:900px;
}

#napkin-css {  
  background-color:#EEE;
  border:solid 1px #008fcc;
  max-width:520px;  
}

#napkin-js {
  min-width:520px;
  max-width:900px;
  min-height:60px;
  display:block;
  border-bottom:solid 5px #ddd;
  background-color:#555;
  color:#00ff00; /* is lime */ 
}

#napkin-wrapper:hover, #napkin-wrapper:focus,
.napkin-editors:hover, .napkin-editors:focus {
  opacity:1;
}

.editor-section {
  margin:5px auto;
  width:98%;    
}

/* controls */

#napkin-controls {
    padding:3px;    
}

.napkin-buttons {
    padding:3px;
    margin:0px, 3px, 0px, 3px;
    border:solid 0px, 2px, 0px, 2px;
    display:inline;
    font-family:helvetica;   
}

#controls-content-wrapper {
  line-height:0;
  display:none;    
}

/* each controls page div */
.controls-content {    

}

/* do #plugins, #imports, #settings */
